---
layout: project
---

.row-fluid
  .hero-unit
    %h2 Application Security
    %p Secure your Java Applications

-# First row of projects
#equalHeightsB.row-fluid.equalHero
  .span4.well
    %p
      %i.icon-table.icon-3x.pull-left
      %h3 Authentication
    %p
      Authentication
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/appsecurity/authentication/"}
        Authentication
        %i.icon-circle-arrow-right
  .span4.well
    %p
      %i.icon-table.icon-3x.pull-left
      %h3 Authorization and Permission API
    %p
      Coarse Grained Authorization
    %p
      Fine Grained Authorization
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/appsecurity/authorization/"}
        Authorization and Permissions
        %i.icon-circle-arrow-right
  .span4.well
    %p
      %i.icon-check.icon-3x.pull-left
      %h3 CDI Based Integration
    %p
      Session Based Identity
    %p
      CDI Integration
    %p.center-icon
      %a.btn.btn-primary{:href => "#{site.base_url}/appsecurity/cdi/"}
        CDI
        %i.icon-circle-arrow-right
