---
layout: project
title: FAQ
---

.row-fluid
  .hero-unit
    %h1 FAQ
    %p Frequently Asked Questions about PicketLink.
  .row-fluid
    .span12.well.post-bg
      .row-fluid
        .span8
          %h2 Is PicketLink Free?
          %p
            Yes, PicketLink libraries are free of charge.
      .row-fluid
        .span8
          %h2 What license does PicketLink use?
          %p
            PicketLink is open source and is licensed under Apache v2 license.
      .row-fluid
        .span8
          %h2 Where can I get it? 
          %p
            All libraries are available on 
            %a(href="https://repository.jboss.org/nexus/index.html#nexus-search;gav~org.picketlink~~2.5.1.Final~~")  JBoss Release Repository 
            and 
            %a(href="http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.picketlink%22%20AND%20v%3A%222.5.1.Final%22") Maven Central.
          %p
            You can also use the 
            %a(href="https://github.com/picketlink/picketlink-installer") PicketLink Installer 
            to not only get the libraries, but to configure a JBoss Enterprise Application Platform 6 distribution with all the necessary libraries/modules. 
