---
layout: project
title: Get Help
---

.row-fluid
  .hero-unit
    %h1 Get Help
    %p How to connect with the PicketLink community.
  .row-fluid
    .span12.well.post-bg
      .row-fluid
        .span4
          %h2 User Forums
          %p
            PicketLink's user forums should be your first port of call for any user-related issues with PicketLink.  Be it a question, wanting to report a bug, looking for advice, or simply sharing some cool stories you may have.
          %p
            %a.btn.btn-primary{:href => "https://community.jboss.org/en/picketlink/content?filterID=contentstatus[published]~objecttype~objecttype[thread]", :role => "button"} Visit the User Forums
          .well
            %p
              %i.icon-thumbs-up.icon-2x.pull-left
              %h4 Etiquette
              If you are asking for help, have you read through the
              %a{:href => "http://docs.jboss.org/picketlink/2/latest/reference/html/"} documentation
              first?  You may find your answer there.
            %p
              Also, if you are reporting a bug, have you checked our
              %a{:href => "http://issues.jboss.org/browse/PLINK"} bug tracker
              first?  It may be a known issue.

        .span4
          %h2 IRC
          %p
            The PicketLink community uses
            %a{:href => "http://en.wikipedia.org/wiki/Internet_Relay_Chat"} IRC
            for real-time communications. Join us on the
            %a{:href => "irc://freenode.org/#PicketLink"}
              %code #PicketLink
            IRC channel on
            %a{:href=>"http://freenode.net/"}Freenode.
          %p
            %a.btn.btn-primary{"data-toggle" => "modal", :href => "#myModal", :role => "button"} IRC Instructions
            #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h4#myModalLabel IRC Instructions
              .modal-body
                %p
                  Learn more about Freenode
                  %a{:href=>"http://freenode.net/"}here
                  and if you need a list of IRC clients, visit
                  %a{:href=>"http://en.wikipedia.org/wiki/Comparison_of_Internet_Relay_Chat_clients"}Wikipedia.
                  There are many high-quality, free and open source clients for almost any platform - including mobile devices!
                %p
                  Once you have connected to a Freenode server,
                  %a{:href=>"http://freenode.net/faq.shtml#userregistration"} you MUST register with nickserv!
                  Afterwords, join
                  %code #PicketLink
                  and you will be able to speak with a number of PicketLink developers, users and contributors.
                .modal-footer
                %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
          %p
            %img(src="#{site.base_url}/images/chat.png")
        .span4
          %h2 Developers Mailing List
          %p
            This is a mailing list geared towards developing PicketLink itself.  It often contains deep, technical discussions on how PicketLink works internally, how new features could be implemented, and is definitely not the place for end user questions such as how to configure, use or even troubleshoot PicketLink.  Please use the User Forums for such questions.
          %p
            If, however, you are helping contribute to PicketLink, we welcome your thoughts, ideas and overall participation on the developers' mailing list.
          %p
            %a.btn.btn-primary{:href => "https://lists.jboss.org/mailman/listinfo/security-dev", :role => "button"} Join the Security Developers' Mailing List
          .well
            %i.icon-envelope.icon-2x.pull-left
            %h4 Archives
            %p
              Archives of the PicketLink developers' mailing list can be found on
              %a{:href=>"http://lists.jboss.org/pipermail/security-dev/"} JBoss List Archives.

      .row-fluid
        .span4
          %h2 Newsletter
          %p
            %a{:href=>"http://www.jboss.org/developer/subscribe"} Subscribe
            to the JBoss Developer Newsletter.
        .span4
          %h2 Twitter
          %p
            Get news of new developments by following on Twitter:
            %a{:href=>"https://twitter.com/picketlink"} Follow @PicketLink
        .span4
          %h2 Facebook
          %p
            Like Us On Facebook:
            %a{:href=>"https://facebook.com/picketlink"} Like PicketLink Facebook Page
      .row-fluid
        .span4
          %h2 Google+
          %p
            Join the Google+ PicketLink Community:
            %a{:href=>"https://plus.google.com/communities/101791570551871936976"} PicketLink Google+
        .span4
          %h2 Presentations
          %p
            Please visit our slide deck gallery.
          %p
            %a.btn.btn-primary{:href => "#{site.base_url}/presentations/decks/", :role => "button"} Presentation Decks
