---
layout: base
---

.row-fluid
  / Main hero unit for a primary marketing message or call to action
  #myCarousel.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    / Carousel items
    .carousel-inner
      .active.item
        %a{:href => "#{site.base_url}"}
          %img(src="http://wildfly.org/images/wildflynewimproved.jpg")
      .item
        %a{:href => "#{site.base_url}"}
          %img(src="http://wildfly.org/images/wildflynewimproved.jpg")
          / Carousel nav

    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


    %article
      %br
      %br
      %h1 Welcome to the new and improved picketlink site.

      .container-fluid
        %ul.row-fluid
          %li.span3
            .box
              %h3 Java JEE Application Security!
              %p Authentication API
              %p Authorization and Permission API
              %p Session-based Identity
              %p Fully Integrated with CDI
              %p
                %a{:href => "http://docs.jboss.org/picketlink/2/latest/reference/html/ch02.html"} Learn more
          %li.span3
            .box
              %h3 Identity Management
              %p Supports Java EE and Java SE Platforms
              %p Built-in Identity Stores for Databases and LDAP
              %p Rich and Extensible API
              %p Multi-Tenancy
              %p Ideal for Cloud and SaaS applications
              %p
                %a{:href => "http://docs.jboss.org/picketlink/2/latest/reference/html/ch03.html"} Learn more
          %li.span3
            .box
              %h3 Federation
              %p Security Assertion Markup Language (SAML) v1/v2
              %p eXtensible Access Control Markup Language (XACML)
              %p WS-Trust
              %p
                %a{:href => "http://docs.jboss.org/picketlink/2/latest/reference/html/ch09.html"} Learn more
          %li.span3
            .box
              %h3 Questions?
              %p
                Your questions are answered on our
                %a{:href => "http://www.picketlink.org/faq.html"} FAQ.
              %p
                Get Involved
                %a{:href => "http://www.picketlink.org/social.html"}
                  Social.

